.App {
  text-align: center;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar-light{
  color: #66FCF1;

}
.bg-fornav{
background-color:#1F2833 ;
opacity: 0.85;
font-weight: 900;
}
.paddnav{
  margin-left: 80%;

}
.icons{
  height: 100%;
  width: 30px;
}
.symbol{
  width: 30px;
  height: 100%;
}
.fontsd{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  

}