.wholeinit{
  opacity: 0.89 !important;
  
  background-image: url('../Common_Images/unnamed.gif');

}
.SmallSpace{

height: 20px;
}
.mainhome{
     color: #66FCF1;
    margin: 0px 20px 10% 25px;
    margin-right: 35%;
    border: 3px solid #66FCF1;
    border-radius: 9px;
    padding: 25px;
    max-width:80% ;
    background-color:#1F2833 ;
    opacity: 0.80;
}
.welcome{
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0;
  text-align: center;
}
.content{
  padding-top: 10px;
color: #C5C6C7;
margin-bottom: 40%;
text-align: center;
font-size: 25px;


}
@media screen and (max-width: 500px){

  .mainhome{
    font-size: 10px;

    margin: 10px 10px 10px 15px;
  }
  .welcome{
    font-size: 15px;
  }
  .content{
    font-size: 15px;
  }
  
.SmallSpace{

  height: 10px;

}
}
.arrow_icon{
  color: #66FCF1;
  background-color: #1F2833;
  padding:5% 50% 5% ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  
}

.andonxd 
{  
    background-color: #0B0C10 !important;
    color: #66FCF1;
    font-weight: 900;
    letter-spacing: 0px;
    color: #66FCF1;
    opacity: 1;
}